################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Test/.vs/Test
/Ch04MovieListApp/.vs/Ch04MovieListApp
/Ch04MovieListApp/bin/Debug/net8.0
